## Loading Libraries

In [33]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Loading Dataframe

In [3]:
c1  = pd.read_csv('measurements.csv')

In [4]:
c2 = pd.read_excel('measurements2.xlsx')

## Exploratory Data Analysis

In [5]:
c1.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [7]:
c1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [6]:
c2.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN

In [8]:
c2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     float64
 11  refill gas     13 non-null     object
dtypes: float64(4), int64(5), object(3)
memory usage: 36.5+ KB

In [11]:
c1.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas'],
      dtype='object')

In [12]:
c2.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas'],
      dtype='object')

In [19]:
len(c1.columns)

12

In [20]:
len(c2.columns)

12

In [50]:
c3 = pd.concat([c1, c2], axis=0)

In [51]:
c3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 776 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       776 non-null    object
 1   consume        776 non-null    object
 2   speed          776 non-null    int64
 3   temp_inside    752 non-null    object
 4   temp_outside   776 non-null    int64
 5   specials       186 non-null    object
 6   gas_type       776 non-null    object
 7   AC             776 non-null    int64
 8   rain           776 non-null    int64
 9   sun            776 non-null    int64
 10  refill liters  26 non-null     object
 11  refill gas     26 non-null     object
dtypes: int64(5), object(7)
memory usage: 78.8+ KB

In [16]:
len(c3.columns)

12

In [21]:
c3.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [22]:
c3['specials'].unique()

array([nan, 'AC rain', 'AC', 'rain', 'snow', 'AC snow',
       'half rain half sun', 'sun', 'AC sun', 'sun ac', 'ac', 'AC Sun',
       'ac rain'], dtype=object)

In [53]:
c3 = c3.drop(['specials', 'refill liters', 'refill gas', 'gas_type'], axis = 1)

In [54]:
c3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 776 entries, 0 to 387
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      776 non-null    object
 1   consume       776 non-null    object
 2   speed         776 non-null    int64
 3   temp_inside   752 non-null    object
 4   temp_outside  776 non-null    int64
 5   AC            776 non-null    int64
 6   rain          776 non-null    int64
 7   sun           776 non-null    int64
dtypes: int64(5), object(3)
memory usage: 54.6+ KB

In [55]:
c3['temp_inside'].unique()

array(['21,5', '22,5', '20', nan, '21', '20,5', '23', '23,5', '25', '24',
       '22', '19', '24,5', '25,5', 21.5, 22.5, 20.0, 21.0, 20.5, 23.0,
       23.5, 25.0, 24.0, 22.0, 19.0, 24.5, 25.5], dtype=object)

## Removing/Replacing Missing Values

In [56]:
nulls_df = pd.DataFrame(round(c3.isna().sum()/len(c3),4)*100)
nulls_df = nulls_df.reset_index()
nulls_df.columns = ['header_name', 'percent_nulls']
nulls_df

    header_name  percent_nulls
0      distance           0.00
1       consume           0.00
2         speed           0.00
3   temp_inside           3.09
4  temp_outside           0.00
5            AC           0.00
6          rain           0.00
7           sun           0.00

In [57]:
c3 = c3.apply(pd.to_numeric, errors='coerce')

In [60]:
c3 = c3.fillna(c3.median())

In [62]:
c3.head()

   distance  consume  speed  temp_inside  temp_outside  AC  rain  sun
0      28.0      5.0     26         22.0            12   0     0    0
1      12.0      4.8     30         22.0            13   0     0    0
2      15.4      4.8     38         22.0            15   0     0    0
3      15.4      4.8     36         22.0            14   0     0    0
4      15.4      4.8     46         22.0            15   0     0    0

In [64]:
c3['AC'].unique()

array([0, 1])

In [65]:
c3['rain'].unique()

array([0, 1])

In [66]:
c3['sun'].unique()

array([0, 1])

In [67]:
c3 = c3.drop_duplicates()

In [68]:
c3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742 entries, 0 to 387
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   distance      742 non-null    float64
 1   consume       742 non-null    float64
 2   speed         742 non-null    int64
 3   temp_inside   742 non-null    float64
 4   temp_outside  742 non-null    int64
 5   AC            742 non-null    int64
 6   rain          742 non-null    int64
 7   sun           742 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 52.2 KB

In [69]:
c3.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside', 'AC',
       'rain', 'sun'],
      dtype='object')

## Filtering Out Smallest Consumption

In [71]:
c3['consume'].unique

<bound method Series.unique of 0      5.0
1      4.8
2      4.8
3      4.8
4      4.8
      ...
383    3.7
384    4.3
385    3.8
386    4.6
387    5.0
Name: consume, Length: 742, dtype: float64>

In [73]:
list_consume = c3['consume'].tolist()

In [74]:
min(list_consume)

3.3

In [75]:
small = c3['consume']==3.3

In [78]:
c3_small = c3[small]

In [79]:
print(c3_small.head())

    distance  consume  speed  temp_inside  temp_outside  AC  rain  sun
44       5.4      3.3     32         21.5             7   0     0    0